# Dependencies
node_modules/

# Uploads
uploads/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage
coverage/

# Misc
*.local
